[submodule "physics/box2d_extension/box2d"]
	path = physics/box2d_extension/box2d
	url = https://github.com/erincatto/box2d
[submodule "physics/box2d_extension/enkiTS"]
	path = physics/box2d_extension/enkiTS
	url = https://github.com/dougbinks/enkiTS
[submodule "love/love"]
	path = love/love
	url = https://github.com/love2d/love
