[submodule "submodules/sol2"]
	path = submodules/sol2
	url = https://github.com/lmoureaux/sol2
[submodule "cpml"]
	path = cpml
	url = https://github.com/excessive/cpml
[submodule "submodules/luafft"]
	path = submodules/luafft
	url = https://github.com/h4rm/luafft
